/*comment*/
body{
    text-align: center;
}


td{
    height: 50px;
    width: 50px;
    background-color: burlywood;
}

table{     
    border-collapse: collapse;
    border-spacing: 0px;
    border: darkblue 4px solid;
    margin: 20px;
    position: fixed;
    top: 50px;
    left: 40vw;
}

.block{
    table-layout: auto;
    text-align: center;
    background-color: black;
}

#lives{
    position: fixed;
    top: 20px;
    right: 60vw;
    font-size: 200%;
    color: slateblue;
}

#anime{
    position: fixed;
    background-color: black;
    color: white;
    font-size: 20px;
    top: -50px;
    left: 50vw;
}